body {
    background-color: black;
    font-family: 'Press Start 2P', Lucida Console, Courier New;
    font-style: normal;
    color: #39FF14;
    line-height: 125%;
}

div p {
    position: fixed;
    top: 4vw;
    left: 0.5vw;
    right: 0.5vw;
    font-size: 1.5vw;
}

#webgl-canvas {
    position: fixed;
    top: 0vw;
    left: 0vw;
}

#title {
    position: fixed;
    top: 2vw;
    left: 0vw;
    right: 0vw;
    text-align: center;
    font-size: 4vw;
    margin: 0.25vw;
}

#startGame{
    position: fixed;
    top: 13vw;
    left: 0.5vw;
    right: 0.5vw;
    font-size: 3vw;
    text-align: center;
    visibility: visible;
}

#instructions {
    visibility: visible;
    position:fixed;
    bottom: 15.75vw;
    left: 0.5vw;
    text-align: left;
}

div ul {
    font-size: 0.75vw;
    margin: 0.5vw;
    padding: 0.5vw;
}

.bigger {
    font-size: 1.5vw;
}

#status {
    position: fixed;
    bottom: 0.5vw;
    left: 0.5vw;
    text-align: left;
    font-size: 0.5vw;
}

/* To make the "press enter" text blink */
@keyframes blink {
    40% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    40%{
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}